.paging-wrapper .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
}

.paging {
    text-align: center;
    box-sizing: border-box;
}

.paging ul {
    cursor: pointer;
}

.paging li {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #00a9ff;
    padding: 5px 10px;
    margin: 0 2px;
    background-color: #fafafa;
    -webkit-box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 32px 1px rgba(0,0,0,0.1);
    font-family: 'Tahoma';
    font-weight: normal;
    font-size: 14px;
    border-radius: 5px;
}

.paging li.active {
    background-color: rgba(0, 168, 107, 1);
    font-weight: bold;
    color: white;
}

.paging li:hover {
    color: white;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    background-color: #00a9ff;
}

#goto-page {
    outline: none;
    border: none;
    width: 30px;
    text-align: center;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    outline: none;
    padding: 1px 3px 1px 3px;
    margin: 3px 1px 3px 0px;
    height: 23px;
    color: #00a86b;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(81, 203, 238, 0.7);
}

#goto-page:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.goto-text {
    font-family: 'Tahoma';
    font-weight: bold;
    font-size: 12px;
    color: #00a9ff;
    margin-left: 50px;
}